{% extends "public_base.html" %}

{% block content %}
  <!-- Swiper-->
  <section class="section section-lg section-main-bunner section-main-bunner-filter text-center">
    <div class="main-bunner-img" style="background-image: url(&quot;static/images/sculpture/sculpture-3.jpg&quot;); background-size: cover;"></div>
    <div class="main-bunner-inner">
      <div class="container">
        <div class="box-default">
          <h1 class="box-default-title">Welcome</h1>
          <div class="box-default-decor"></div>
          <p class="big box-default-text">Our gallery features unique and inspiring works of art that have been created using sustainable materials and repurposed items. Here, you can explore the beauty of art while also making a positive impact on the environment. </p>
        </div>
      </div>
    </div>
  </section>

  <section class="section-md bg-default">
    <div class="container wow-outer">
      <h2 class="text-center wow slideInRight">New Arts </h2>
      <!-- Owl Carousel-->
      <div class="owl-carousel wow fadeInUp" data-items="1" data-md-items="2" data-lg-items="3" data-dots="true" data-nav="false" data-stage-padding="15" data-loop="false" data-margin="30" data-mouse-drag="false">
        {% for artwork in random_artworks %}
            <div class="wow-outer">
              <div class="wow fadeInUp">
                <div class="product-featured">
                  <div class="product-featured-figure"><img src="{{ url_for('static', filename=artwork.image_url[6:]) }}" alt="" width="370" height="395"/>
                    <div class="product-featured-button">
                        <h4 class="text-white">{{ artwork.categories.label | title }}</h4>
                    </div>
                  </div>
                </div>
                <div class="text-center mt-4">
                  <a class="post-corporate-link" href="{{ url_for('public.each', category = artwork.categories.label) }}">Read more<span class="icon linearicons-arrow-right"></span></a>
                </div>
              </div>
            </div>
        {% endfor %}    
    </div>
  </section>
{% endblock %}